* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
body {

}


main {
  background: grey;
}

ul {
  font-size: 0px;
  li.cell {
    width: 10px;
    height: 10px;
    background: #ccc;
  }
}
