* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
body {

}

main {
  // background: grey;
  display: block;
  width: 750px;
  // height: 500px;
  margin: 50px auto;
}

ul {
  background: grey;
  font-size: 0px;
  display: block;
  li.cell {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #ccc;
    font-size: 10px;
  }
}

form {
  margin-top: 20px;
  height: 35px;
  outline: none;
  position: relative;
  display: block;
  font-size: 0;
  width: 750px;
  input {
    height: 35px;
    width: 60%;
    text-indent: 15px;
    outline: none;
    border: 4px solid tomato;
    bottom: 8px;
    margin-left: 5%;
    position: relative;
    display: inline-block;
    font-size: 14px;

  }
  button {
    display: inline-block;
    cursor: pointer;
    width: 20%;
    height: 70px;
    margin-left: 10%;
    margin-right: 5%;
    outline: none;
    border: 4px solid tomato;
  }
}
